*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-box {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    vertical-align: top;
    height: 100%;
    border-right: 1px solid grey;
    background-color: honeydew;
}

form{
    border: 2px solid forestgreen;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding-bottom: 1rem;
    box-shadow: 8px 10px 10px 10px forestgreen;
}

h1{
    margin-bottom: 2rem;
    /* background-color: gray; */
    text-align: center;
    color: forestgreen;
}

form > div{
    margin: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

form label{
    font-size: 1.3rem;
}

form input{
    border: 2px solid rgb(156, 156, 156);
    border-radius: .3rem;
    height:1.4rem;
}
button{
    margin-top: 3rem;
    width: 10rem;
    padding: .5rem;
    font-size: 1rem;
    color: rgb(39, 39, 39);
    border: 2px solid forestgreen;
    border-radius: .3rem;
    cursor: pointer;
}

button:hover{
    background-color: forestgreen;
    color: black;
    font-weight: 550;
}

#items {
    display: inline-flex;
    flex-direction: column;
    width: 39%;
    overflow: auto;
    border-left: 1px solid gray;
    height: 100%;
    background-color: honeydew;
}

.row{
    margin-top: 10px;
    font-size: 1.2rem;
    padding: 10px 20px;
}

.row:nth-child(even) {
    background-color: lightgrey;
}

.highlight {
    background-color: forestgreen;
    border-radius: .3rem;
    color: white;
    padding: 0 10px;
}